@use "../../../../assets/styles/variables" as *;
@use "../../../../assets/styles/mixins" as *;

.recommendations-list {
  display: flex;
  gap: 2rem;
  overflow-x: auto;
  padding: 0.5rem 0;
  .recommendations-item {
    flex-shrink: 0;
    width: 250px;
    &__img {
      width: 100%;
      height: 140px;
      object-fit: cover;
      border-radius: 0.5rem;
    }
    &__info {
      display: flex;
      margin: 0.8rem 0;
      gap: 1rem;
      justify-content: space-between;
      &-title {
        @include font-base(1.4rem, $semi-bold, $white);
        max-width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        &:hover {
          color: $primary;
          text-decoration: underline;
        }
      }
      &-rating {
        @include font-base(1.4rem, $regular, $grey-65);
      }
    }
  }
}
.no-data-text {
  width: 100%;
  @include font-base(1.5rem, $regular, $grey-65);
  text-align: center;
  font-style: italic;
}
