@use "../../../../assets/styles/variables" as *;
@use "../../../../assets/styles/mixins" as *;

.toast-container {
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  pointer-events: none;

  // Cho phép click vào toast
  app-toast {
    pointer-events: auto;
  }
}
