<div class="hero">
  <img
    src="assets/images/home-hero.png"
    alt="home"
    class="hero__image"
    loading="lazy"
  />
  <div class="hero__content">
    <div class="hero-text">
      <h2 class="hero-text__heading">The Best Streaming Experience</h2>
      <p class="hero-text__description">
        StreamVibe is the best streaming experience for watching your favorite
        movies and shows on demand, anytime, anywhere.
        <span>
          With StreamVibe, you can enjoy a wide variety of content, including
          the latest blockbusters, classic movies, popular TV shows, and more.
          You can also create your own watchlists, so you can easily find the
          content you want to watch.
        </span>
      </p>
    </div>
  </div>
</div>
<div class="section trending-movie-section">
  <div class="section-header">
    <h2 class="section-header__title">Trending Movies</h2>
    <app-toggle-switch
      [options]="trendingOptions"
      [defaultValue]="selectedTimeWindow"
      (optionChanged)="onTrendingWindowChanged($event)"
    ></app-toggle-switch>
  </div>
  <app-movie-carousel [type]="'movie'" [movieList]="trendingMovieList">
  </app-movie-carousel>
</div>

<div class="section popular-tv-shows-section">
  <div class="section-header">
    <h2 class="section-header__title">Latest Trailer</h2>
  </div>
  <app-trailers-carousel [trailerList]="trailerList"> </app-trailers-carousel>
</div>

<div class="section popular-tv-shows-section">
  <div class="section-header">
    <h2 class="section-header__title">Popular TV Shows</h2>
  </div>
  <app-movie-carousel [type]="'tv'" [tvShowList]="popularTVShowList">
  </app-movie-carousel>
</div>
