<div class="watchlist-page">
  <div class="watchlist-page__header">
    <h2 class="watchlist-title">My List of Movies</h2>
    <button class="add-btn" (click)="handleAddList()">
      Create new list
      <i class="material-icons">add</i>
    </button>
  </div>

  <ng-container *ngIf="loadingService.loading$ | async; else list">
    <app-loading [isOverlay]="true"></app-loading>
  </ng-container>
  <ng-template #list>
    <div class="row gy-2">
      <div class="col-12 col-md-6 gap-2" *ngFor="let item of listFilms">
        <div class="watchlist-card">
          <div class="watchlist-card__header">
            <div class="watchlist-card__header-title">
              <a
                class="watchlist-card__header-title-link"
                [routerLink]="['/watchlist', item.id]"
                >{{ item.name }}</a
              >
            </div>
            <div class="watchlist-card__header-actions">
              <button class="edit-btn" (click)="handleEditList(item)">
                <i class="material-icons">edit</i>
              </button>
              <button class="delete-btn" (click)="handleDeleteList(item)">
                <i class="material-icons">delete</i>
              </button>
            </div>
          </div>
          <div class="watchlist-card__body">
            <div class="watchlist-card__body-content">
              <p>{{ item.description }}</p>
            </div>
          </div>
        </div>
      </div>
      <!-- <app-watchlist-card
        *ngFor="let item of listFilms"
        [data]="item"
        (removeFromList)="handleRemoveFromFavorite()"
        (reloadList)="loadListFilms()"
      ></app-watchlist-card> -->
    </div>
    <div *ngIf="listFilms?.length === 0">
      <p class="no-data-text">No movies in watchlist</p>
    </div>
  </ng-template>
</div>
<app-list-form-modal
  [isOpen]="isOpenListFormModal"
  [data]="editingListFilm"
  (reloadList)="loadListFilms()"
  (closeModal)="handleCloseModal()"
></app-list-form-modal>
