<div class="input-range-container">
  <!-- Title -->
  <div class="input-range-title" *ngIf="title">
    {{ title }}
    <span *ngIf="currentValue"
      >{{ currentValue.min }} - {{ currentValue.max }}</span
    >
  </div>

  <!-- Slider Container -->
  <div class="input-range-wrapper">
    <!-- Track -->
    <div
      #sliderTrack
      class="input-range-track"
      (click)="onTrackClick($event)"
      [class.disabled]="disabled"
    ></div>

    <!-- Min Handle -->
    <div
      class="input-range-handle input-range-handle--min"
      [style.left]="getMinHandlePosition()"
      (mousedown)="onMinHandleMouseDown($event)"
      (touchstart)="onMinHandleTouchStart($event)"
      [class.disabled]="disabled"
    ></div>

    <!-- Max Handle -->
    <div
      class="input-range-handle input-range-handle--max"
      [style.left]="getMaxHandlePosition()"
      (mousedown)="onMaxHandleMouseDown($event)"
      (touchstart)="onMaxHandleTouchStart($event)"
      [class.disabled]="disabled"
    ></div>

    <!-- Tick Marks -->
    <div class="input-range-ticks" *ngIf="showTicks">
      <div
        *ngFor="let tick of ticks"
        class="input-range-tick"
        [class.input-range-tick--major]="isMajorTick(tick)"
      ></div>
    </div>

    <!-- Labels -->
    <div class="input-range-labels" *ngIf="showLabels">
      <span *ngFor="let tick of majorTicks" class="input-range-label">
        {{ tick }}
      </span>
    </div>
  </div>
</div>
