@use "../../../../assets/styles/variables" as *;
@use "../../../../assets/styles/mixins" as *;

.input-range-wrapper {
  position: relative;
  width: 100%;
  padding: 1.6rem 0;
}

.input-range-tooltip {
  position: absolute;
  top: -32px;
  left: 50%;
  transform: translateX(-50%);
  background: $black-30;
  padding: 4px 10px;
  white-space: nowrap;
  z-index: 2;
  border-radius: 0.4rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  pointer-events: none;
  @include font-base(1.4rem, $semi-bold, $white);
}

.input-range {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  outline: none;
  position: absolute;
  margin: auto;
  z-index: 10;
  top: 0;
  bottom: 0;
  background-color: transparent;
  pointer-events: none;
}
.input-range-track {
  width: 100%;
  height: 5px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  background: $black-30;
  border-radius: 5px;
  &--selected {
    background: $primary;
  }
}

.input-range-labels {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
  font-size: 16px;
  color: $grey-65;
  width: 100%;
  padding: 0 2px;
  &__item {
    min-width: 24px;
    text-align: center;
  }
}

.input-range-ticks {
  position: absolute;
  left: 8px;
  right: 8px;
  top: 8px;
  height: 24px;
  width: calc(100% - 16px);
  display: flex;
  justify-content: space-between;
  z-index: 4;
  pointer-events: none;
  &__item {
    width: 2px;
    height: 12px;
    background: $black-20;
    margin: 0 0.5px;
    align-self: flex-end;
  }
}
input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 5px;
}
input[type="range"]::-moz-range-track {
  -moz-appearance: none;
  height: 5px;
}
input[type="range"]::-ms-track {
  appearance: none;
  height: 5px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.2em;
  width: 1.2em;
  background-color: $primary;
  cursor: pointer;
  margin-top: -4px;
  pointer-events: auto;
  border-radius: 50%;
}
input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 1.2em;
  width: 1.2em;
  cursor: pointer;
  border-radius: 50%;
  background-color: $primary;
  pointer-events: auto;
  border: none;
}
input[type="range"]::-ms-thumb {
  appearance: none;
  height: 1.2em;
  width: 1.2em;
  cursor: pointer;
  border-radius: 50%;
  background-color: $primary;
  pointer-events: auto;
}
  