<div *ngIf="openModal" class="overlay">
  <div class="trailer-modal">
    <div class="trailer-modal__header">
      <h3 class="trailer-modal__header-title">
        {{ trailer?.title }}
      </h3>
      <button class="trailer-modal__header-close" (click)="closeModal()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="white"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18 18 6M6 6l12 12"
          />
        </svg>
      </button>
    </div>
    <iframe
      *ngIf="safeYoutubeUrl"
      [src]="safeYoutubeUrl"
      title="YouTube video player"
      frameborder="0"
      allowfullscreen
      class="trailer-video"
    ></iframe>
  </div>
</div>
