<form class="movie-filter" [formGroup]="movieForm">
  <div class="filter-section">
    <h4 class="filter-section__title">Sort</h4>
    <div class="filter-item">
      <p class="filter-item__title">Sort Result By</p>

      <select id="job" formControlName="sortBy" class="form-select">
        <option *ngFor="let option of sortByOptions" [value]="option.value">
          {{ option.label }}
        </option>
      </select>
    </div>
  </div>
  <div class="filter-section">
    <h4 class="filter-section__title">Filters</h4>

    <div class="filter-item">
      <div class="checkbox-select my-2">
        <input
          id="searchAllCountries"
          name="isSearchAllCountries"
          class="checkbox-select__input"
          type="checkbox"
          formControlName="isSearchAllCountries"
        />
        <label class="checkbox-select__label" for="searchAllCountries"
          >Search all release countries?</label
        >
      </div>

      <ng-container *ngIf="!movieForm.get('isSearchAllCountries')?.value">
        <app-input-chip-list
          [options]="countryOptions"
          formControlName="countryIds"
          (onInputChange)="handleQueryCountryChange($event)"
        ></app-input-chip-list>
      </ng-container>

      <div class="movie-release-date my-2">
        <h4 class="filter-item__title">Release Date</h4>

        <div class="movie-release-date__item">
          <label for="fromReleaseDate" class="movie-release-date__item-title"
            >From</label
          >
          <input
            type="date"
            id="fromReleaseDate"
            formControlName="fromReleaseDate"
            class="movie-release-date__item-input"
          />
        </div>
        <div class="movie-release-date__item">
          <label for="toReleaseDate" class="movie-release-date__item-title"
            >To</label
          >
          <input
            type="date"
            id="toReleaseDate"
            formControlName="toReleaseDate"
            class="movie-release-date__item-input"
          />
        </div>
      </div>
    </div>

    <div class="filter-item">
      <app-tooltip
        [text]="'Filter items based on their original language.'"
        position="top"
        [delay]="200"
      >
        <label for="languageIds" class="filter-item__title">Language</label>
      </app-tooltip>
      <app-input-chip-list
        id="languageIds"
        [options]="languageOptions"
        formControlName="languageIds"
        (onInputChange)="handleQueryLanguageChange($event)"
      ></app-input-chip-list>
    </div>

    <div class="filter-item">
      <label for="genres" class="filter-item__title">Genres</label>
      <app-input-chip-list
        id="genres"
        [options]="genreOptions"
        formControlName="genreIds"
        (onInputChange)="handleQueryGenreChange($event)"
      ></app-input-chip-list>
    </div>

    <div class="filter-item px-2">
      <app-input-range
        title="Runtime"
        [min]="0"
        [max]="360"
        [step]="15"
        formControlName="runtimeRange"
        (valueChange)="onRuntimeRangeChange($event)"
      >
      </app-input-range>
    </div>

    <div class="filter-item px-2">
      <app-input-range
        title="Rating"
        [min]="0"
        [max]="100"
        [step]="5"
        formControlName="ratingRange"
        (valueChange)="onRatingRangeChange($event)"
      >
      </app-input-range>
    </div>
  </div>
  <div class="d-flex gap-2">
    <button
      type="submit"
      class="movies-page__sidebar-button movies-page__sidebar-button--clear flex-1"
      (click)="onClear()"
    >
      Clear
    </button>
    <button
      type="submit"
      class="movies-page__sidebar-button movies-page__sidebar-button--filter flex-1"
      (click)="onSubmit()"
    >
      Filter
    </button>
  </div>
</form>
