<div class="watchlist-page">
  <h2 class="watchlist-title">My Favorite Movies</h2>

  <ng-container *ngIf="isLoading">
    <div class="loading-container">
      <app-loading></app-loading>
    </div>
  </ng-container>

  <ng-container *ngIf="!isLoading">
    <div class="watchlist-items">
      <app-watchlist-card
        *ngFor="let item of favoriteMovies"
        [data]="item"
        (removeFromList)="handleRemoveFromFavorite()"
        (reloadList)="loadFavoriteMovies()"
      ></app-watchlist-card>
    </div>
    <div *ngIf="favoriteMovies?.length === 0">
      <p class="no-data-text">No movies in watchlist</p>
    </div>
  </ng-container>
</div>
