@use "../../../../../../assets/styles/variables" as *;
@use "../../../../../../assets/styles/mixins" as *;
@use "../../../../../../assets/styles/base" as *;
.people-page {
  @extend .container;
  margin-top: 10rem;
  @include mq-md {
    margin-top: 12rem;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(auto, 1fr));
    gap: 1rem;
    @include mq-xs {
      grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
    @include mq-sm {
      grid-template-columns: repeat(3, minmax(200px, 1fr));
    }
    @include mq-md {
      grid-template-columns: repeat(4, minmax(200px, 1fr));
    }
    @include mq-lg {
      grid-template-columns: repeat(5, minmax(200px, 1fr));
    }
  }

  &__pagination {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
