<div class="search-card">
  <a [routerLink]="getRouterLink(item)" class="search-card__image">
    <img [src]="getImagePath(item)" alt="posterAlt" />
  </a>
  <div class="search-card__info">
    <div class="search-card__info-header">
      <a [routerLink]="getRouterLink(item)" class="search-card__title">
        {{ getItemTitle(item) }}
      </a>
      <p
        class="search-card__knownfor-department"
        *ngIf="getKnownForDepartment(item) !== ''"
      >
        {{ getKnownForDepartment(item) }}
      </p>
    </div>

    <div class="search-card__info-footer">
      <p class="search-card__overview" *ngIf="getOverview(item)">
        {{ getOverview(item) | slice : 0 : 100 }}
      </p>
    </div>
  </div>
</div>
