<div class="cast-item">
  <ng-container *ngIf="isLoading">
    <app-skeleton
      type="cast-item"
      class="skeleton-container--cast-item"
    ></app-skeleton>
  </ng-container>
  <a
    *ngIf="!isLoading"
    class="cast-item__photo"
    routerLink="/people/{{ cast.personDTO.id }}"
  >
    <img
      class="cast-item__photo-img"
      [src]="
        cast.personDTO.profilePath
          ? cast.personDTO.profilePath
          : 'assets/images/default-avatar.jpg'
      "
      [alt]="cast.personDTO.name"
      loading="lazy"
    />
  </a>
  <div class="cast-item__info">
    <a
      routerLink="/people/{{ cast.personDTO.id }}"
      class="cast-item__info-name"
      >{{ cast.personDTO.name }}</a
    >
    <p class="cast-item__info-character">{{ cast.characterName }}</p>
  </div>
</div>
