<div class="cast-item">
  <ng-container *ngIf="isLoading">
    <app-skeleton
      type="cast-item"
      class="skeleton-container--cast-item"
    ></app-skeleton>
  </ng-container>
  <a
    *ngIf="!isLoading"
    class="cast-item__photo"
    routerLink="/people/{{ cast.id }}"
  >
    <img
      class="cast-item__photo-img"
      [src]="
        cast.profile_path
          ? (cast.profile_path | imageUrl : 500 : false)
          : 'assets/images/default-avatar.jpg'
      "
      [alt]="cast.name"
      loading="lazy"
    />
  </a>
  <div class="cast-item__info">
    <a routerLink="/people/{{ cast.id }}" class="cast-item__info-name">{{
      cast.name
    }}</a>
    <p class="cast-item__info-character">{{ cast.character }}</p>
  </div>
</div>
