@use "../../../../../../assets/styles/variables" as *;
@use "../../../../../../assets/styles/mixins" as *;
@use "../../../../../../assets/styles/base" as *;

.header {
  background-color: $black-10;
  margin-top: 8rem;
  @include mq-md {
    margin-top: 9rem;
  }
}

.cast-page-header {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  @extend .container;
  &__image {
    width: 58px;
    height: 87px;
    object-fit: cover;
    border-radius: 1rem;
  }
  &__content {
    display: flex;
    gap: 1.2rem;
    flex-direction: column;
    &-title-wrapper {
      display: flex;
      gap: 1rem;
      align-items: center;
    }
    &-title {
      @include font-base(3.2rem, $bold, $white);
      &:hover {
        color: $grey-75;
      }
    }
    &-year {
      @include font-base(2.4rem, $regular, $grey-65);
    }
  }
  &__back {
    display: flex;
    align-items: center;
    gap: 1rem;
    &:hover {
      .cast-page-header__back-icon {
        stroke: $grey-60;
      }
      .cast-page-header__back-text {
        color: $grey-60;
      }
    }
    &-icon {
      width: 1.6rem;
      height: 1.6rem;
      stroke: $grey-65;
    }
    &-text {
      @include font-base(1.6rem, $regular, $grey-65);
      display: block;
    }
  }
}

.cast-page-content {
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
  display: flex;
  row-gap: 4rem;
  column-gap: 5rem;
  flex-wrap: wrap;

  @extend .container;
  .cast-page-credits {
    display: flex;
    min-width: 30rem;
    flex: 1;
    flex-direction: column;
    gap: 1.6rem;
    &__title {
      @include font-base(2.4rem, $bold, $white);
    }
    &__list {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
    }
    &__crew {
      display: flex;
      flex-direction: column;
      gap: 3.2rem;
      &:first-child {
        margin-top: 1.5rem;
      }
      &-department {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
      }

      &-title {
        @include font-base(1.8rem, $bold, $grey-60);
      }
    }
  }
}
