<div class="cast-card">
  <a [routerLink]="['/people', getCastId()]" class="cast-card__image">
    <img
      *ngIf="cast?.personDTO?.profilePath"
      [src]="cast?.personDTO?.profilePath"
      [alt]="cast?.personDTO?.name"
    />
    <img
      *ngIf="!cast?.personDTO?.profilePath"
      src="assets/images/default-avatar.jpg"
      [alt]="cast?.personDTO?.name"
    />
  </a>
  <div class="card-card__info">
    <a [routerLink]="['/people', getCastId()]" class="cast-card__info-name">{{
      cast?.personDTO?.name
    }}</a>
    <p class="cast-card__info-character" *ngIf="!isCrew">
      {{ cast?.characterName !== "" ? cast?.characterName : "" }}
    </p>
    <p class="cast-card__info-character" *ngIf="isCrew">
      {{ cast?.job }}
    </p>
  </div>
</div>
