<app-movie-detail-layout>
  <div class="hero-section">
    <app-movie-detail-hero
      [movie]="movie"
      (reloadMoviDetail)="loadMovieDetails(movieId)"
    ></app-movie-detail-hero>
  </div>
  <div class="main-content">
    <!-- Cast -->
    <div class="detail-cast detail-section">
      <h2 class="detail-section__title">Top Billed Cast</h2>
      <div class="cast-container">
        <div
          class="cast-list"
          *ngIf="(loadingService.loading$ | async) && castList.length === 0"
        >
          <app-skeleton
            type="cast-item"
            [count]="8"
            class="skeleton-container--cast-item"
          ></app-skeleton>
        </div>

        <div class="cast-list" *ngIf="castList && castList.length > 0">
          <app-person-card
            *ngFor="let cast of castList"
            [cast]="cast"
          ></app-person-card>
        </div>
        <a
          class="more-btn"
          [routerLink]="['/movies/details', movie?.id, 'casts']"
        >
          Full Cast And Crew
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            class="more-btn__icon"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M13.5 4.5L21 12M21 12L13.5 19.5M21 12H3"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </a>
      </div>
    </div>

    <!-- Social content -->
    <div class="detail-social detail-section">
      <h2 class="detail-section__title">Social</h2>
      <app-tab
        [tabs]="socialTab"
        [activeTabId]="activeScocialTabId"
        (tabChange)="onSocialTabChange($event)"
      >
        <div class="reviews" *ngIf="activeScocialTabId == 'reviews'">
          <app-review-card *ngIf="review" [review]="review"></app-review-card>
          <div *ngIf="review">
            <a class="more-btn" [routerLink]="['./reviews']">
              Read All Reviews
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                class="more-btn__icon"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M13.5 4.5L21 12M21 12L13.5 19.5M21 12H3"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </a>
          </div>
          <p *ngIf="!review" class="no-data-text">
            No reviews have been added.
          </p>
        </div>
      </app-tab>
    </div>

    <!-- Media content -->
    <div class="detail-media detail-section">
      <h2 class="detail-section__title">Media</h2>
      <app-tab
        [tabs]="mediaTabs"
        [activeTabId]="activeTabId"
        (tabChange)="onMediaTabChange($event)"
      >
        <!-- Videos -->
        <div class="video-list-container" *ngIf="activeTabId == 'videos'">
          <div class="video-list d-flex justify-content-center">
            <p *ngIf="!movie?.trailerUrl; else videoItem" class="no-data-text">
              No videos have been added.
            </p>
            <ng-template #videoItem>
              <div class="video-item">
                <iframe
                  class="video-item__iframe"
                  [src]="movie?.trailerUrl | safeYoutubeUrl"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                ></iframe>
              </div>
            </ng-template>
          </div>
          <!-- <a class="more-btn" [routerLink]="['./videos']">
            View all video
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              class="more-btn__icon"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M13.5 4.5L21 12M21 12L13.5 19.5M21 12H3"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </a> -->
        </div>

        <div class="posters-list-container" *ngIf="activeTabId == 'posters'">
          <div class="poster-list d-flex justify-content-center">
            <p *ngIf="!movie?.posterPath; else posterItem" class="no-data-text">
              No poster have been added.
            </p>
            <ng-template #posterItem>
              <div class="poster-item">
                <img [src]="movie?.posterPath" alt="poster" loading="lazy" />
              </div>
            </ng-template>
          </div>
        </div>

        <div
          class="backdrops-list-container"
          *ngIf="activeTabId === 'backdrops'"
        >
          <div class="backdrop-list d-flex justify-content-center">
            <p
              *ngIf="!movie?.backdropPath; else backdropItem"
              class="no-data-text"
            >
              No backdrops have been added.
            </p>
            <ng-template #backdropItem>
              <div class="backdrop-item">
                <img
                  [src]="movie?.backdropPath"
                  alt="backdrop"
                  loading="lazy"
                />
              </div>
            </ng-template>
          </div>
        </div>
      </app-tab>
    </div>

    <div class="detail-recommendations detail-section">
      <h2 class="detail-section__title">Recommendations</h2>
      <div class="recommendations-list">
        <ng-container *ngIf="recommendations.length > 0">
          <div
            class="recommendations-item"
            *ngFor="let recommendation of recommendations"
          >
            <a routerLink="/movies/details/{{ recommendation.id }}">
              <img
                [src]="
                  recommendation.backdropPath
                    ? recommendation.backdropPath
                    : recommendation.posterPath
                "
                [alt]="recommendation.title"
                class="recommendations-item__img"
                loading="lazy"
              />
            </a>
            <div class="recommendations-item__info">
              <a routerLink="/movies/details/{{ recommendation.id }}">
                <p class="recommendations-item__info-title">
                  {{ recommendation.title }}
                </p>
              </a>
              <p class="recommendations-item__info-rating">
                {{ recommendation.voteAverage | convertPercent }}
              </p>
            </div>
          </div>
        </ng-container>
      </div>
      <p *ngIf="recommendations.length === 0" class="no-data-text">
        No recommendations have been added.
      </p>
    </div>
  </div>
  <div class="sidebar detail-section" *ngIf="movie">
    <app-movie-detail-sidebar [movie]="movie"></app-movie-detail-sidebar>
  </div>
</app-movie-detail-layout>
