<div class="login-page">
  <app-loading [isOverlay]="true" *ngIf="isLoading"></app-loading>

  <div class="login-card">
    <h1 class="login-title">Đăng nhập</h1>

    <form
      [formGroup]="form"
      (ngSubmit)="submit()"
      novalidate
      class="login-form"
    >
      <div class="form-group">
        <label class="form-group__label">
          Email
          <span class="form-group__required">(*)</span>
        </label>
        <app-input-text
          placeholder="you@example.com"
          type="email"
          name="email"
          id="email"
          size="large"
          formControlName="email"
          [required]="true"
        ></app-input-text>
        <div
          class="error-text"
          *ngIf="form.controls['email'].errors?.['required']"
        >
          <span *ngIf="form.controls['email'].errors?.['required']"
            >Email là bắt buộc</span
          >
          <span *ngIf="form.controls['email'].errors?.['email']"
            >Email không hợp lệ</span
          >
        </div>
      </div>

      <div class="form-group">
        <label class="form-group__label">
          Mật khẩu
          <span class="form-group__required">(*)</span>
        </label>
        <div class="password-row">
          <app-input-text
            placeholder="*******"
            [type]="isPasswordVisible ? 'text' : 'password'"
            name="password"
            id="password"
            size="large"
            [required]="true"
            [minLength]="6"
            autocomplete="current-password"
            formControlName="password"
          ></app-input-text>

          <button
            type="button"
            class="toggle-eye"
            (click)="togglePasswordVisibility()"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              *ngIf="!isPasswordVisible"
              stroke="currentColor"
              class="toggle-eye-icon"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"
              />
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
              />
            </svg>

            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              *ngIf="isPasswordVisible"
              stroke="currentColor"
              class="toggle-eye-icon"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88"
              />
            </svg>
          </button>
        </div>
        <div
          class="error-text"
          *ngIf="form.controls['password'].errors?.['required']"
        >
          <span *ngIf="form.controls['password'].errors?.['required']"
            >Mật khẩu là bắt buộc</span
          >
          <span *ngIf="form.controls['password'].errors?.['minlength']"
            >Mật khẩu phải có ít nhất 6 ký tự</span
          >
        </div>
      </div>

      <app-button type="submit" size="full-width" [disabled]="isLoading">
        Đăng nhập
      </app-button>
    </form>
  </div>
</div>
