<div class="watchlist-item">
  <a [routerLink]="renderLink()" class="item-thumbnail">
    <img
      [src]="data.poster_path | imageUrl : 500 : false"
      alt="28 Years Later"
      class="item-thumbnail__image"
    />
    <div class="item-thumbnail__score"></div>
  </a>
  <div class="item-content">
    <div class="content-header">
      <app-user-score
        [size]="'small'"
        [score]="data.vote_average"
      ></app-user-score>
      <div class="content-header__text">
        <a [routerLink]="renderLink()" class="content-header__text-title">{{
          renderTitle()
        }}</a>
        <p class="content-header__text-date">
          {{ renderDate() | date : "dd/MM/yyyy" }}
        </p>
      </div>
    </div>

    <p class="content-overview">
      {{ data.overview }}
    </p>
    <div class="item-actions">
      <!-- <button class="action-btn">
        <img
          src="assets/icons/star-solid.svg"
          alt="star"
          class="action-btn__icon"
        />
        Rate it!
      </button> -->
      <ng-container *ngIf="currentRoute === 'watchlist'">
        <button class="action-btn" (click)="handleToggleFavorite()">
          <img
            src="assets/icons/heart-solid.svg"
            alt="heart"
            class="action-btn__icon"
            *ngIf="accountStates?.favorite"
          />
          <img
            src="assets/icons/heart-white.svg"
            alt="heart"
            class="action-btn__icon"
            *ngIf="!accountStates?.favorite"
          />

          Favorite
        </button>
      </ng-container>

      <ng-container *ngIf="currentRoute === 'favorite'">
        <button class="action-btn" (click)="handleToggleWatchlist()">
          <img
            src="assets/icons/bookmark-active.svg"
            alt="bookmark"
            class="action-btn__icon"
            *ngIf="accountStates?.watchlist"
          />

          <img
            src="assets/icons/bookmark.svg"
            alt="bookmark"
            class="action-btn__icon"
            *ngIf="!accountStates?.watchlist"
          />

          Watchlist
        </button>
      </ng-container>

      <button class="action-btn" (click)="handleRemoveFromlist()">
        <img src="assets/icons/x.svg" alt="x" class="action-btn__icon" />
        Remove
      </button>
    </div>
  </div>
</div>
