<div class="watchlist-item">
  <a [routerLink]="renderLink()" class="item-thumbnail">
    <img
      [src]="data.posterPath"
      alt="data?.title"
      class="item-thumbnail__image"
    />
    <div class="item-thumbnail__score"></div>
  </a>
  <div class="item-content">
    <div class="content-header">
      <app-user-score
        [size]="'small'"
        [score]="data.voteAverage"
      ></app-user-score>
      <div class="content-header__text">
        <a [routerLink]="renderLink()" class="content-header__text-title">{{
          renderTitle()
        }}</a>
        <p class="content-header__text-date">
          {{ renderDate() | date : "dd/MM/yyyy" }}
        </p>
      </div>
    </div>

    <p class="content-overview">
      {{ data.overview }}
    </p>
    <div class="item-actions">
      <button class="action-btn" (click)="handleRating()">
        <img
          src="assets/icons/star-solid.svg"
          alt="star"
          class="action-btn__icon"
        />
        {{
          accountStates?.isRated
            ? "Your Rating: " + accountStates?.ratingScore + "%"
            : "Rate it!"
        }}
      </button>
      <ng-container *ngIf="currentRoute === 'rating'">
        <button class="action-btn" (click)="handleToggleFavorite()">
          <img
            src="assets/icons/heart-solid.svg"
            alt="heart"
            class="action-btn__icon"
            *ngIf="accountStates?.inFavourite"
          />
          <img
            src="assets/icons/heart-white.svg"
            alt="heart"
            class="action-btn__icon"
            *ngIf="!accountStates?.inFavourite"
          />

          Favorite
        </button>
      </ng-container>

      <!-- <ng-container *ngIf="currentRoute === 'favorite'">
        <button class="action-btn" (click)="handleToggleWatchlist()">
          <img
            src="assets/icons/bookmark-active.svg"
            alt="bookmark"
            class="action-btn__icon"
            *ngIf="accountStates?.watchlist"
          />

          <img
            src="assets/icons/bookmark.svg"
            alt="bookmark"
            class="action-btn__icon"
            *ngIf="!accountStates?.watchlist"
          />

          Watchlist
        </button>
      </ng-container> -->

      <ng-container *ngIf="currentRoute !== 'rating'">
        <button class="action-btn" (click)="handleRemoveFromlist()">
          <img src="assets/icons/x.svg" alt="x" class="action-btn__icon" />
          Remove
        </button>
      </ng-container>
    </div>
  </div>
</div>
